<h1>Listing posts</h1>

<%= form_tag("/posts", :method => "get") do %>
  <%= label_tag(:q, "Buscar palabra en post:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search", { :class=>"btn btn-primary" }) %>
<% end %>

<%= form_tag("/posts", :method => "get") do %>
  <%= label_tag(:c, "Buscar palabra en comments:") %>
  <%= text_field_tag(:c) %>
  <%= submit_tag("Search", { :class=>"btn btn-primary" } )  %>
<% end %>



<table class="table table-striped ">
  <tr>
    <thead>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
  </tr>


<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.body %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to post.status =='1' ? 'Unpublish': 'Publish', '/posts/publish/'+ post.id.to_s + '/' + (post.status == '1' ? '0': '1') %></td
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path, 
{ :class=>"btn btn-primary" } %>
