<h1>Blog de Alvaro</h1>

<script type="text/javascript">


   	var word_array = [
   	<% 
   	cont = 1
   	@count_words.each do |v,k| 
   	%>
          {text: '<%=v%>', weight: <%=k%>}<%=cont!=@count_words.size ? ',' : ''%>
   	<% 
   	cont+=1 
   	end 
   	%>


    ];
	$(document).ready(function(){        
		// When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
        $("#example").jQCloud(word_array);
   	});
      
 </script>


<div class="row">
	<div class="span2">
		<div id="example" style="width: 550px; height: 350px;"></div>
	</div>
	<div class="span8">
		<div class="media">
<% @posts.each do |post| %>
		  <div class="media-body thumbnail">
		    <h3 class="media-heading">
				<%= link_to post.title, '/posts/view/'+post.id.to_s %><br>
		    </h3> 
		    <h6 class="media-heading muted"><%= post.created_at.strftime("%d/%m/%Y %H:%M:%S") %><br>
			</h6>
			<p> By <%= post.user ? post.user.email : ''%></p>
			<p class="lead">
				<%= post.body %>
			</p>

			<%= !post.user_liked(current_user) ? (link_to 'Like ', '/posts/like/'+post.id.to_s ) : '' %>  |
			<%= (post.likes ? post.likes.count.to_s : '0')   + ' People likes' %>

			<% post.likes.each do |like| %>
				<%= like.user.email %>,
			<% end %>
		  </div>
		  <br>

<% end %>
		</div>
	</div>

</div>
