<p id="notice"><%= notice %></p>

<div class="row">
	<div class="offset2">
		<div class="media thumbnail">
			<div class="media-body ">
				<h3 class="media-heading">
					<%= link_to @post.title, '/posts/view/'+@post.id.to_s %><br>
				</h3> 
				<h5>Categoria: <%=@post.category%></h5>
				<h6 class="media-heading muted"><%= @post.created_at.strftime("%d/%m/%Y %H:%M:%S") %><br>
				</h6>
				<p> By <%= @post.user ? @post.user.email : ''%></p>

				<p class="lead">
					<%= @post.body %>
				</p>


				<%= !@post.user_liked(current_user) ? (link_to 'Like ', '/posts/like/'+@post.id.to_s ) : '' %>  |
				<%= (@post.likes ? @post.likes.count.to_s : '0')   + ' People likes' %>

				<% @post.likes.each do |like| %>
					<%= like.user.email %>,
				<% end %>
				<br><br>
				<%= form_tag("/comments", :method => "post") do %>
				    <%= label_tag 'Comenta:'%>
				    <%= text_area_tag :body %>
				    <%= hidden_field_tag(:post_id, @post.id) %>
				  	<%= submit_tag("Submit") %>
				<% end %>

			</div>
			<hr>
			<% @post.comments.order(:created_at).reverse.each do |comment| %>
			<div class="media">
				<div class="media-body">
					<p> Comment by <%= comment.user ? comment.user.email : ''%></p>

					<p style="padding-left: 10px;">
						<small><%= comment.body %></small>
					</p>
				</div>
			</div>
			<hr>
			<% end %>
		</div>
	</div>
</div>



<%= link_to 'Back', '/' %>
